/* Basic reset and styling */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Wrapper and main content styling */
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex: 1;
    padding: 2em;
}

#footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: auto; /* Ensure the footer stays at the bottom */
}

#footer h2 {
  margin: 0 0 1em 0;
}

/* Additional styling for other components */
.date-section {
    margin-bottom: 20px;
}

.date-section label {
    display: block;
    margin-bottom: 5px;
}

.date-section input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    color: black;
}

.actions li {
    margin-right: 20px;
}

.actions li:last-child {
    margin-right: 0;
}

.workout-box {
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 5px;
    color: #fff;
}

.workout-box h3 {
    font-weight: bold;
}

.workout-box p {
    margin: 0;
}

.footer-circle {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ddd;
    text-align: center;
    margin: 0 15px;
    overflow: hidden;
}

.footer-circle img {
    width: 100%;
    height: auto;
}

.footer-circle p {
    margin-top: 10px;
    font-size: 14px;
}

/* Responsive design for developers section */
@media (max-width: 768px) {
    .developer {
        display: block;
        margin: 20px auto;
    }

    .developer-img {
        width: 100px;
        height: 100px;
    }

    .developer h4 {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .developer-img {
        width: 80px;
        height: 80px;
    }

    .developer h4 {
        font-size: 14px;
    }
}
